p
{
    color: red;
}

p:hover
{
    color: blue;
}
.main-nav
{
    margin-top: 10px;
    font-size: 30px;
    background-color: rgb(5, 0, 82);
    list-style: none;
    padding-left: 0;
}

.main-nav__item
{
    display: inline-block;
}

.main-nav__item a
{
    color: cornsilk;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    background-color: red;
}

.main-nav__item a:hover
{
    color: greenyellow;
}

.main-nav__item a:active
{
    color: inherit;
}

.main-nav__item::before
{
    content: " | ";
    color: lawngreen;
}