p
{
    background-color: wheat;
    color: darkorange;
    font-size: 50px;
}

/* Class */
.numList
{
    color: bisque;
    background-color: black;
    font-size: 30px;
    font-family: sans-serif;
}

/* ID */
#pTienda
{
    background-color: brown;
    color: chartreuse;
    font-family: cursive;
    font-size: 30px;
}