:root {
    --colorPrimario: blue;
    --ancho: 100vw;
    --altura: 15vh;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width: var(--ancho);
    height: var(--altura);
    border: 0.3rem solid black;
    background-color: var(--colorPrimario);
}
main {
    width: var(--ancho);
    height: 70vh;
    font-size: 1.8rem;
}
h1 {
    font-size: 4rem;
    color: var(--colorPrimario);
}
footer {
    width: var(--ancho);
    height: var(--altura);
    border: 0.3rem solid brown;
    background-color: var(--colorPrimario);
}