* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.parent {
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    border: 2px black solid;
    border-radius: 5px;
    color: antiquewhite;
    box-shadow: rgb(0, 0, 0) 0px 1px 20px;
}

.box:hover{
    box-shadow: black 0px 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

#ONE {
    background-color: rgb(1, 55, 87);
    width: 100px;
    height: 25px;
    position: absolute;
    display: flex;
    margin-bottom: 31rem;
}

#TWO {
    background-color: brown;
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
}

p{
    margin-left: 16px;
}

.itadori_img {
    width: 40%;
    display:block;
    margin: 20px auto;
}

.itadori_img:hover {
    box-shadow: goldenrod 0px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: darkorange;
    border-image: initial;
}

.link_img {
    width: auto;
    height: auto;
}

.text {
    display: flex;
    margin-right: 10px;
    margin-left: 15px;
    justify-content: center;
    text-align: center;
}