* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    border: 2px black solid;
    border-radius: 5px;
    color: antiquewhite;
}

#ONE {
    background-color: rgb(1, 55, 87);
    width: 100px;
    height: 25px;
    position: absolute;
    display: flex;
    margin-bottom: 200px;
}

#TWO {
    background-color: brown;
    width: 150px;
    height: 200px;
}

p{
    margin-left: 16px;
}
